@import "~bulma/bulma";

$primary: #000631;
$line-height: 10px;
.card {
  border: 1px solid #ccc;
  margin-right: 10px;
}
.card:last-child {
  margin-right: 0;
}
label {
  width: 6vw;
  @extend .has-text-left;
}
.is-primary, .card-header {
  background-color: $primary !important;
}
.is-centered {
  margin: 0 auto;
  line-height: $line-height + 35;
}
.input {
  text-transform: capitalize;
}